<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>YPA Project</title>
    <meta
      name="description"
      content="Уведомление Ректальных Активностей Бот, чтобы
          держать всех в курсе о ваших ректальных деяниях."
    />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body class="bg-black text-white">
    <header
      class="absolute inset-x-0 top-0 flex justify-center gap-12 px-12 py-6 sm:justify-start z-20"
    >
      <a
        class="text-xl text-zinc-200 transition-all duration-300 hover:text-white hover:underline"
        href="https://t.me/uragv_bot"
        >Бот</a
      >
      <a
        class="text-xl text-zinc-200 transition-all duration-300 hover:text-white hover:underline"
        href="https://t.me/uraproject"
        >Новости</a
      >
      <!-- <a class="text-xl text-zinc-200 transition-all duration-300 hover:text-white hover:underline" href=".">API</a> -->
      <a
        class="text-xl text-zinc-200 transition-all duration-300 hover:text-white hover:underline"
        href="/anal"
        >Аналитика</a
      >
    </header>
    <section
      class="relative flex h-screen flex-col items-center justify-center"
    >
      <div class="group relative max-w-2xl space-y-4 px-12 sm:px-0">
        <p class="text-5xl font-bold text-white">YPA Project</p>
        <p class="text-xl text-zinc-300">
          <b>У</b>ведомление <b>Р</b>ектальных <b>А</b>ктивностей Бот, чтобы
          держать всех в курсе о ваших ректальных деяниях.
        </p>
        <div
          class="absolute -top-32 left-12 -z-10 size-[280px] animate-blob rounded-full bg-[#0EA5E9] mix-blend-normal blur-[150px] delay-500"
        ></div>
        <div
          class="absolute -bottom-48 right-12 -z-10 size-[280px] animate-pulse rounded-full bg-[#8B5CF6] mix-blend-normal blur-[150px] duration-1000"
        ></div>
      </div>
      <!-- <div
        class="group absolute bottom-6 hidden space-y-4 sm:right-12 sm:block"
      >
        <div
          class="max-w-sm rounded-2xl rounded-br-none border border-zinc-800/30 bg-zinc-900/50 px-4 py-2 text-xl text-zinc-300 opacity-30 backdrop-blur-sm transition-all duration-500 group-hover:opacity-100"
        >
          <p><b>uuuuuno</b> просто пернул</p>
          <div class="flex justify-end">
            <p class="text-sm font-medium text-stone-400">17:45</p>
          </div>
        </div>
        <div
          class="max-w-sm rounded-2xl rounded-br-none border border-zinc-800/30 bg-zinc-900/50 px-4 py-2 text-xl text-zinc-300 opacity-60 backdrop-blur-sm transition-all duration-500 group-hover:opacity-100"
        >
          <p><b>uuuuuno</b> просто пернул</p>
          <div class="flex justify-end">
            <p class="text-sm font-medium text-stone-400">17:45</p>
          </div>
        </div>
        <div
          class="max-w-sm rounded-2xl rounded-br-none border border-zinc-800/30 bg-zinc-900/50 px-4 py-2 text-xl text-zinc-300 opacity-90 backdrop-blur-sm transition-all duration-500 group-hover:opacity-100"
        >
          <p>
            <b>Notfag</b> прямо сейчас пошел адски дристать лютейшей струей
            поноса
          </p>
          <div class="flex justify-end">
            <p class="text-sm font-medium text-stone-400">17:45</p>
          </div>
        </div>
        <button
          class="h-0 w-full overflow-hidden rounded-2xl border-zinc-800 bg-zinc-900 px-6 text-xl transition-all duration-500 hover:border-zinc-700 hover:bg-zinc-800 group-hover:h-12 group-hover:border group-hover:py-2"
        >
          Глобальные уведомления
        </button>
      </div> -->
    </section>
  </body>
</html>
